/*********** Prompt Character page ************/
/************ Ventana contenedora ************/
.promptCharacterWindowClass {
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: fit-content;
    height: 75%;
    /* height: fit-content; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -42%);
    padding: 0.5% 1% 0.5% 1%;
    border: 10px solid white;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    -webkit-animation-name: animatetopCharacterWindow;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetopCharacterWindow;
    animation-duration: 4s;
}

.pokeballAndImagDiv{
    height: 50px;
    margin-bottom: 5px;
}
.characterImageDIV{
    position: relative;
    align-self: center;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    width: 25%;
    height: 30px;
}

.characterImageClass {
    position: absolute;
    bottom: -10px;
    width: 70%;
    height: auto;
}

/********** Botón pokeball **********/
.popoverTextFormat {
    display: inline-block;
    font-family: 'Helvetica',sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: max-content;
}
.divCatchIt{
    display: flex;
    position: relative;
    top: -40px;
    left: -100px;
    width: fit-content;
}

.divPokeballImage {
    width: max-content;
    text-align: center;
    /* visibility: hidden; */
}

.divPokeballImage .tooltiptextPokeball {
    background-color: white;
    color: black;
    border-color: #1A1423;
    border-width: 5px;
    border-style: solid;

    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translate(-50%);
    /* visibility: hidden; */
    opacity: 0;
}

.divPokeballImage .tooltiptextPokeball::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;

    margin-left: -10px;
    border-width: 10px;

    border-style: solid;
    border-color: #1A1423 transparent transparent transparent;
}

.divPokeballImage:hover .tooltiptextPokeball {
    /* visibility: visible; */
    opacity: 1;
    transition: opacity 2s;
}

.pokeballImage{
    width: 25%;
    align-items: center;
    animation: tilt 6s infinite;
    cursor: pointer;
}

.pokeballImage:hover{
    animation: tilt 1s infinite;
}

.pokeballImage:hover path:nth-child(6){
    animation: redFillAnimation 1s infinite;
}

.onClickImage {
    width: 25%;
}

.onClickImage path:nth-child(6){
    fill: green;
}

.onClickShrink {
    animation: shrink 1s;
}

/* divImageFav */
.divFavImage {
    position: absolute;
    width: max-content;
    text-align: center;
    visibility: hidden;
}

.starFavImage{
    width: 25%;
    align-items: center;
    animation: pop 0.3s linear 1;
    cursor: pointer;
}

@keyframes tilt {
    0 { transform: translate(0, 0) rotate(0); }
    25% { transform: translate(-8px, 0) rotate(-18deg); }
    33% { transform: translate(8px, 0) rotate(18deg); }
    50% { transform: translate(-8px, 0) rotate(-12deg); }
    60% { transform: translate(8px, 0) rotate(18deg); }
    100% { transform: translate(0, 0) rotate(0); }
}

@keyframes redFillAnimation{
    from {
        fill: white;
    }
    to{
        fill: red;
    }
}

@keyframes shrink{
    from {
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes pop{
    50%  {transform: scale(1.2);}
}
/*************************************/
#characterDynamicContent{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.columnAlignmentClass{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0px;
}

.rowAlignmentClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.characterTitleNumberClass{ /*especial por el fondo*/
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 30px;
    color: rgb(58, 57, 57);
    padding: 6px 10px;  
    width: fit-content;
    background-color: hsl(0, 0%, 0%, 30%);
    border-radius: 10px;
}

.textFormat{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-variant: normal;
    text-align: center;    
}

.textFormatBig {
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-variant: normal;
    text-align: center; 
    font-size: 60px;
    color: DarkSlateGrey; 
}

.textFormatMedium{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-variant: normal;
    text-align: center; 
    /* font-size: 5vmin; */
    font-size: 42px;
    color: rgb(68, 67, 67);
}

.textFormatSmall{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-variant: normal;
    text-align: center; 
    font-size: 30px;
    color: rgb(68, 67, 67);
}

.textFormatPokeEntry{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-variant: normal;
    text-align: center; 
    font-size: 30px;
    color: rgb(68, 67, 67);
}

.rightBorderClass{
    border-width: 5px;
    border-color: DimGrey;
    border-right: dotted;
}

.bottomBorderClass{
    border-width: 5px;
    border-color: DimGrey;
    border-bottom: dotted;
}
.characterWeaknessTypeContainer, .characterEachEvolutionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}
.weaknessImgClass{
    height: 120px;
    /* height: 80px; */
}

.weaknessTextFormat{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-variant: normal;
    text-align: center; 
    font-size: 5vmin;
    color: rgb(68, 67, 67);
}

.evolutionPathArrow{
    justify-content: center;
    padding: 10px 5px;
}

/************ Animación de ventana prompt ************/
@-webkit-keyframes animatetopCharacterWindow {
    from {top:-300px;}
    to {top:50%;}
}

@keyframes animatetopCharacterWindow {
    from {top:-300px;}
    to {top:50%;}
}

/************ Text to speech button ************/
#dexterVoice{
    width: fit-content;
    border-radius: 50px;
    background: transparent;
}

#dexterVoice i{
    font-size: 5vmin;
    padding: .5px;
    width: 50px;
    border-radius: 10px;
}

#dexterVoice i:hover{
    color: maroon;
}

/************ Favorite window empty Psyduck ************/
.favoritesWindowEmptyClass{
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
}

.favoritesWindowImageClass{
    height: 250%;
    margin: 10px;
}

@media screen and (max-width: 500px) {
    .pokeballAndImagDiv{
        height: 30px;
        margin-bottom: 15px;
    }
    .characterImageDIV{
        top: -50px;
        background-color: red;
    }
    .characterImageClass {
        bottom: -30px;
        width: 190%;
    }
    .divCatchIt{
        top: -40px;
        left: -120px;
    }
    .pokeballImage, .onClickImage, .starFavImage{
        width: 15%;
    }
    .rowAlignmentClass{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape){
    .textFormatPokeEntry{
        text-align: justify;  
        font-size: 24px;
        padding-right: 20px;
    }
}