@import "reset.css";
@import "colorScheme.css";
@import "introPage.css";
@import "styleSideMenu.css";
@import "prompt.css";
@import "styleCharacterWindow.css";
@import "styleCharts.css";

body {
  background-color: var(--bodyBackground);
  -webkit-transition: 1s;
  transition: 1s;
}

.mainScreenClass {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0%;
  visibility: hidden; /*Descomentar para activar animación intro*/
}

/***** Menu barra superior *****/
a {
  text-decoration: none;
}
#homeButton, #toggleLanguageEN, #toggleLanguageES {
  display: none;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  padding: 10px 0;
  background-color: var(--headerColor);
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.leftHeaderNav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  align-self: center;
  padding-left: 6px;
}
.rightHeaderNav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  align-self: center;
  padding-right: 6px;
}
.topMenuButtonContainer {
  border: 0;
  background-color: transparent;
}

.titleDiv {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.titleText {
  font-family: "Rajdhani", sans-serif;
  font-size: 72px;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
  color: var(--headerTitle);
  cursor: pointer;
}

#menuButton,
#gitHubButton,
#favoritesButton,
#chartButton,
#homeButton {
  font-size: 40px;
  margin: 0px 10px;
  color: var(--headerIcon);
}

#menuButton:hover,
#menuButton:focus,
#gitHubButton:hover,
#gitHubButton:focus,
#favoritesButton:hover,
#favoritesButton:focus,
#chartButton:hover,
#chartButton:focus,
#homeButton:hover,
#homeButton:focus {
  color: var(--headerIconHover);
  cursor: pointer;
}

/*******************************/

/***** Menu flotante *****/
.floatingMenuDIV {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  bottom: 0px;
  right: 10px;
  width: fit-content;
  background-color: transparent;
  z-index: 1;
  visibility: hidden; /*Descomentar para activar animación intro*/
}

#toggle, #toggleFav, #toggleCharts{
  display: none;
}

#toggle:checked ~ #floatingMenu {
  transform: rotate(135deg);
  box-shadow: 0 0 0 0 transparent;
}

.floatingMenuClass {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  background-color: var(--floatingMenuColor);
  border-radius: 100px;
  border: var(--floatingMenuBorder) 6px solid;
  transition: all 0.5s ease-in-out;
}

.floatingMenuClassNormal {
  width: 70px;
  height: 70px;
}

.floatingMenuClassNormal i {
  font-size: 50px;
  color: var(--floatingMenuIcon);
}

.floatingMenuClassSmall {
  width: 38px;
  height: 38px;
  color: black;
  animation: pop 0.3s linear 1;
}

.floatingMenuClassSmall i {
  font-size: 28px;
  color: var(--floatingMenuOpen);
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}

.floatingMenuElement {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 10px 0 0 0;
  background-color:  var(--floatingMenuColor);
  border-radius: 100px;
  border: var(--floatingMenuBorder) 6px solid;
  visibility: hidden;
}

.floatingMenuElement:focus, .floatingMenuClass:focus {
  border: var(--floatingMenuIconHover) 6px solid;;
}

.floatingMenuElement i {
  font-size: 40px;
  color: var(--floatingMenuIcon);
}

.floatingMenuClassNormal:hover i,
.floatingMenuClassNormal:focus i,
.floatingMenuElement:hover i,
.floatingMenuElement:focus i {
  color: var(--floatingMenuIconHover);
}

/***** Body pokemons *****/
#activeFilterAndSort, #clearFavoritesDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 10vmin;
  left: 0;
  width: 99vw;
  padding: 0px 0px 4px;
  border-bottom: solid;
  border-color: var(--pathUnderlineColor);
  border-width: 1.2px;
  visibility: hidden;
}

#activeFilterAndSort p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 3vmin;
  color: var(--pathText);
  margin: 0px 9px;
}

#filterByTag, #sortByTag{
  color: var(--pathTextActive) !important;
}

.clearFavoritesButton{
  background-color: var(--buttonColor);
  color: var(--buttonText);
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: .5em;
  max-width: 170px;
  position: relative;
  left: 30px;
  text-transform: uppercase;
  width: 100%;

  border: 0 solid;
  border-radius: 10px;
  text-shadow: none;
}

.clearFavoritesButton:hover,
.clearFavoritesButton:focus{
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, .7);
  cursor: pointer;
}

/****** Cards *********/
.pokemonContainerGrid {
  position: absolute;
  top: 20vmin;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
  width: 99vw;
}

.divContainerClass {
  display: flex;
  justify-content: center;
  /*Seis columnas*/
  flex: 15%;
  padding: 5px;
}

.divCardClass {
  background-color: transparent;
  position: relative;
  padding: 0% 0% 10% 0%;
}

.divPokemonCardFaceClass {
  border-radius: 20px;
  border: 5px solid var(--cardBorder);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 280px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
}

.divPokemonCardFaceClass--front {
  background: var(--cardFrontColor);
  transform: rotateY(0deg);
}

.divPokemonCardFaceClass--back {
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0%;
  background: var(--cardBackColor);
  transform: rotateY(-180deg);
  cursor: pointer;
}

.divCardClass:hover .divPokemonCardFaceClass--front, .divCardClass:focus .divPokemonCardFaceClass--front{
  transform: rotateY(-180deg);
}

.divCardClass:hover .divPokemonCardFaceClass--back, .divCardClass:focus .divPokemonCardFaceClass--back {
  transform: rotateY(0deg);
}

.divCardClass:focus .divPokemonCardFaceClass--back { 
  border: 5px solid var(--cardFocus);
}

.imagePokemon {
  margin: 20px 0 0 0;
  width: 85%;
}

.numberPokemon {
  font-family: "Rajdhani", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 22px;
  color: var(--cardPokeNum);
  background-color: var(--cardPokeNumBackground);
  border-radius: 5px;
  padding: 5px 8px;
  position: absolute;
  bottom: 50px;
}

.namePokemon {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: var(--cardPokeName);
  text-align: center;
  position: absolute;
  bottom: 15px;
}

.typePokemonIMG {
  height: 60px;
  margin: 20px 0px 6px;
}

.typePokemon {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 3vmin;
  color: var(--cardTypeInfo);
  text-align: center;
  text-transform: uppercase;
}
/***** Ajustes web responsiva: Main window*****/
/* manejo de hover en celular*/
/*@media(hover: hover) and (pointer: fine) {
  #menuButton:hover, #favoritesButton:hover,
  #chartButton:hover{
    color: white;
    cursor: pointer;
  }
}*/ 

@media screen and (max-width: 500px) {
  .header{
    height: fit-content;
    flex-flow: row wrap;
    justify-content: center;
  }
  .titleDiv {
    order: 3;
  }
  .headerNav{
    order: 2;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-self: center;
  }
  #menuButton,
  #favoritesButton,
  #chartButton,
  #homeButton {
    font-size: 28px;
    margin: 0px .5px;
  }
  .floatingMenuDIV {
    bottom: 0.5vh;
    right: 2vw;
    width: fit-content;
  }
  .floatingMenu {
    width: 18vw;
    height: 10vh;
    margin: 0 0 10px 0;
  }
  .floatingMenuClassNormal {
    width: 60px;
    height: 60px;
  }

  .floatingMenuClassNormal i {
    font-size: 50px;
    color: white;
  }
  .floatingMenuClassSmall {
    width: 40px;
    height: 40px;
    color: black;
    animation: pop 0.3s linear 1;
  }
  .floatingMenuElement {
    width: 60px;
    height: 60px;
  }
  .floatingMenuElement i {
    font-size: 35px;
  }

  .divContainerClass {
    flex: 100%;
  }
  .menuButton {
    width: 16vw;
    height: 12vh;
  }
  .titleText {
    font-size: 60px;
    padding: 0px;
   }
  .numberPokemon {
    font-size: 24px;
  }
}

@media only screen and (max-width: 868px) and (orientation: landscape) {
  .titleText {
    font-size: 50px;
    letter-spacing: 2px;
   }
  .floatingMenuDIV {
    flex-direction: row-reverse;
  }
  .floatingMenuDIV {
    bottom: 0.5vh;
    right: 2vw;
    width: fit-content;
  }
  .floatingMenu {
    width: 18vw;
    height: 10vh;
  }
  .floatingMenuClassNormal {
    width: 60px;
    height: 60px;
  }
  .floatingMenuClassNormal i {
    font-size: 50px;
    color: white;
  }
  .floatingMenuClassSmall {
    width: 40px;
    height: 40px;
    color: black;
    animation: pop 0.3s linear 1;
  }
  .floatingMenuElement {
    width: 60px;
    height: 60px;
    margin: 0 0 0 10px;
  }
  .floatingMenuElement i {
    font-size: 35px;
  }
}