.chartsContainerClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vmin;
    left: 0px;
    width: 99vw;
}

.chartDynamicContent{
    width: 500px;
    height: fit-content;
}